/.gradle/
/build/
/bin/
/Results/
/ExtentReports/
/testng-Output/
/test-output/
/Downloads/
/screenshots/
/log/
/debug.log
/.classpath
/.project
/TestSuites/
/*.txt
/.classpath
/.project
/.settings
/.idea/*
/out/
/drivers/chromedriver11.exe
/settings.gradle
